---
import ExperiencieItem from "./ExperiencieItem.astro";
const EXPERIENCIE = [
    {
        title: 'Freelance Fullstack Developer',
        description: "As a freelance full stack developer, I am passionate about creating web and mobile solutions adapted to each need. If you're looking for someone to take your idea to the next level, I'm here to help. Let's talk!",
        date: 'At the moment...',
    },
    {
        title: 'Web development for the capdi clinic',
        description: 'Used cutting-edge technologies such as React JS, Vite, Tailwind CSS, Firebase and Astro to drive project success and improve user experience.',
        date: '2023 - November',
        link: 'https://capdi.com.uy',
        textLink: "Visit the website"
    },
    {
        title: 'Web development for Reina Reyes school',
        description: 'Used cutting-edge technologies such as React JS, Vite, Tailwind CSS, Firebase and Sass to drive project success and optimize user experience.',
        date: '2023 - February',
        link: 'https://reinareyes.edu.uy',
        textLink: "Visit the website"

    },
]
---

<ol class="relative border-s border-black/50 dark:border-gray-200 ml-3">    
    {
        EXPERIENCIE.map(experiencie => (
            <li class="mb-10 ms-4">
                <ExperiencieItem {...experiencie}/>
            </li>
        ))
    }              
</ol>

